.example
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: all .5s;
            transition: all .5s;

    background: -webkit-linear-gradient(top, white, black);
    background:         linear-gradient(to bottom, white, black);
}*
{
    box-sizing: border-box;
}


a,
a:hover,
a:active,
a:focus,
a:visited
{
    text-decoration: none;
}

.clearfix::after
{
    display: block; 
    clear: both;

    content: '';
}

input,
textarea
{
    box-sizing: border-box;
}

textarea
{
    resize: none;
}

*,
*:after,
*::before
{
    box-sizing: border-box;
}
body
{
    font: 16px 'Raleway', Helvetica, Arial, sans-serif;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    min-width: 320px;
    height: 100vh;
    max-height: 120vh;

    color: white;
    background: -webkit-linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)),
    url('../img/geo.jpg');
    background:         linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)),
    url('../img/geo.jpg');
    background-size: cover;

    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.page-header
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100vw;
    padding: 0 30px;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.menu-left
{
    padding: 5px 10px ;
}
.menu-left img
{
    width: 3vw;
}

.search-wrapper
{
    position: relative;

    width: 200px;
    margin: 2px 5px 0 5px;
    padding: 10px 20px ;
}



.search-wrapper::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;

    content: '';
    -webkit-transition: top .3s;
            transition: top .3s;

    background: #fff;
}

.search-wrapper::after
{
    position: absolute;
    top: 0;
    left: 0;

    width: 2px;
    height: 2px;

    content: '';
    -webkit-transition: height .3s;
            transition: height .3s;

    background: #fff;
}

.search-wrapper:hover::before
{
    top: 100%;

    opacity: 1;
}

.search-wrapper:hover::after
{
    height: 100%;
}


.search-wrapper input[type=search]
{
    font: 1.3vw 'Raleway', Helvetica, Arial, sans-serif;

    color: white;
    border: none;
    outline: none;
    background: rgba(0,0,0,0);
}

.nav-main
{
    padding-right: 5px;
}

.nav-main > ul > li
{
    position: relative;

    display: inline-block;

    padding: 10px 20px;
}

.link
{
    font-size: 1.3vw;

    margin: 0 5px;
    padding: 7px ;

    -webkit-transition: color .5s ease-out ;
            transition: color .5s ease-out ;

    color: white;
}

.link:hover
{
    color: #ffa200;
}
.link::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;

    content: '';
    -webkit-transition: top .3s;
            transition: top .3s;

    background: #fff;
}

.nav-link::after
{
    position: absolute;
    top: 0;
    left: 0;

    width: 2px;
    height: 2px;

    content: '';
    -webkit-transition: height .3s;
            transition: height .3s;

    background: #fff;
}

.nav-link:hover::before
{
    top: 100%;

    opacity: 1;
}

.nav-link:hover::after
{
    height: 100%;
}

.nav-main .my-story
{
    color: #ffa200;
}

.dropdown-list
{
    position: relative;
}
.dropdown-list ul
{
    background: rgba(0, 0, 0, .7);
}
.dropdown-list img
{
    position: absolute;
    right: .4vw;
    bottom: .4vw;
}

.dropdown-inside
{
    position: absolute;
    left: -9999px;

    padding: 5px;

    border-bottom: 2px solid white;
    border-left: 2px solid white;
}
.dropdown-inside:hover
{
    color: #ffa200;
}


.dropdown-list:hover .dropdown-inside
{
    left: 0;

    display: block;
}
.dropdown-inside li
{
    padding: 10px ;
}
.dropdown-inside a
{
    font-size: .93vw;

    color: white;
}

.dropdown-inside a:hover
{
    color: #ffa200;
}


main
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100vw;
    padding: 0 100px;

    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
            justify-content: space-between;
}

.map
{
    width: 50%;
    padding: 10px;

    border: 1px solid #fff;
    background: rgba(0, 0, 0, .3);
}
#map-canvas
{
    width: 100%;
}
.signing-section
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    width: 50%;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.signing-section h1
{
    font-size: 3vw;
    font-weight: 400;

    margin-bottom: 10px;

    text-align: center;

    color: white;
}
.form-wrapper
{
    width: 35vw;

    text-align: center;
}
.signing-section input,
.signing-section textarea
{
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 1vw;
    font-weight: 400;

    box-sizing: border-box;
    width: 95%;
    margin: 0 0 10px 0;
    padding: 15px 20px ;

    vertical-align: middle;

    border: 1px solid white;
    outline: 1px solid transparent;
    background: rgba(0, 0, 0, .3);
}
.signing-section input:focus,
.signing-section textarea:focus
{
    color: #ffa200;
    border: 1px solid #ffa200;
    outline: 1px solid #ffa200;
}
.halfsizes-wrapper
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}

.half-size
{
    width: 50%;
}

.half-size input
{
    width: 90%;
}

.signing-section input[type='submit']
{
    font-size: 2vw;
    font-weight: 400;

    display: inline-block;

    width: 15vw;
    padding: 15px 40px;

    -webkit-transition: background .7s ease-out ;
            transition: background .7s ease-out ;
    text-align: center;

    color: #ffa200;
    border: 2px solid #ffa200;
    outline: none;
    background: rgba(0, 0, 0, .3);
}

.signing-section input[type='submit']:hover
{
    color: white;
    background: #ffa200;
}

















.main-footer
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100vw;
    padding: 20px;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.copyright
{
    font-size: 1.2vw;

    width: 50%;

    text-align: center;

    color: white;
    text-shadow: 2px 2px 2px black;
}

.icons
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 50%;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.icons img
{
    width: 30px;
    height: 30px;
    margin: 0 20px;
}
