

a,
a:hover,
a:active,
a:focus,
a:visited{
    text-decoration: none;
}

.clearfix::after{
    display: block; 
    clear: both;
    content: '';
}

input,
textarea{
    box-sizing: border-box;
}

textarea{
    resize: none;
}

*,
*:after,
*::before{
    box-sizing: border-box;
}

body{
    font: 16px 'Raleway', Helvetica, Arial, sans-serif;
    min-width: 320px;
}

.top-section{
    height: 100vh;
    background: rgba(0, 0, 0, .4);
    background-size: cover;
}
video{
    position: fixed;
    z-index: -100;
    top: 50%;
    left: 50%;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    -webkit-transition: 1s opacity;
            transition: 1s opacity;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    background: url('../img/snapshot.jpg') no-repeat;
    background-size: cover;
}

.page-header{
    position: fixed;
    z-index: 1000;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    width: 100vw;
    padding: 0 30px;
    background-size: cover;
   -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.page-header.scrolling{
    background: #222;
    box-shadow: 2px 0 2px black;
}
.menu-left{
    padding: 5px 10px ;
}
.menu-left img{
    width: 3vw;
}

.search-wrapper{
    position: relative;
    width: 200px;
    margin: 2px 5px 0 5px;
    padding: 10px 20px ;
}

.search-wrapper::before{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;

    content: '';
    -webkit-transition: top .3s;
            transition: top .3s;

    background: #fff;
}

.search-wrapper::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    content: '';
    -webkit-transition: height .3s;
            transition: height .3s;
    background: #fff;
}

.search-wrapper:hover::before{
    top: 100%;
    opacity: 1;
}

.search-wrapper:hover::after{
    height: 100%;
}

.search-wrapper input[type=search]{
    font: 1.3vw 'Raleway', Helvetica, Arial, sans-serif;
    color: white;
    border: none;
    outline: none;
    background: rgba(0,0,0,0);
}

.nav-main{
    padding-right: 5px;
}

.nav-main > ul > li{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
}

.link{
    font-size: 1.3vw;
    margin: 0 5px;
    padding: 7px ;
    -webkit-transition: color .5s ease-out ;
            transition: color .5s ease-out ;
    color: white;
}

.link:hover{
    color: #ffa200;
}
.link::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    -webkit-transition: top .3s;
            transition: top .3s;
    background: #fff;
}

.nav-link::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    content: '';
    -webkit-transition: height .3s;
            transition: height .3s;
    background: #fff;
}

.nav-link:hover::before{
    top: 100%;
    opacity: 1;
}

.nav-link:hover::after{
    height: 100%;
}

.nav-main .my-story{
    color: #ffa200;
}

.dropdown-list{
    position: relative;
}
.dropdown-list.scrolling{
    color: #555;
}
.dropdown-list img{
    position: absolute;
    right: .4vw;
    bottom: .4vw;
}

.dropdown-inside{
    position: absolute;
    left: -9999px;
    padding: 5px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}
.dropdown-inside:hover{
    color: #ffa200;
}
.dropdown-inside.scrolling{
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    background: #222;
}

.dropdown-list:hover .dropdown-inside{
    left: 0;
    display: block;
}
.dropdown-inside li{
    padding: 10px ;
}
.dropdown-inside a{
    font-size: .93vw;
    color: white;
}
.dropdown-inside a.scrolling{
    color: white;
}
.dropdown-inside a:hover{
    color: #ffa200;
}

.slider{
    width: 100%;
}
.slider-wrapper{
    padding-top: 25vh;
}
.slideshow{
    position: relative;
    width: 100% ;
    height: 350px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.slideshow > div{
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;

    color: white;
}
.slideshow h1{
    font-size: 8vw;
    font-weight: bold;
    text-align: center;
}
.slideshow p{
    font-size: 2vw;
    font-weight: 200;
    margin-bottom: 50px;
    text-align: center;
}
.slideshow .identity{
    font-weight: 700;
    color: #ffa200;
    border-bottom: 2px solid #ffa200;
}
.slideshow .start-now{
    font-size: 2vw;
    font-weight: 700;
    padding: 15px 50px;
    -webkit-transition: background .7s ease-out ;
            transition: background .7s ease-out ;
    text-align: center;
    color: #ffa200;
    border: 2px solid #ffa200;
    box-shadow: 1px 1px 2px rgba(0,0,0,.4);
}
.slideshow .start-now:hover{
    color: white;
    background: #ffa200;
}

/*ARROW SVG*/
.arrows{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 60px;
    height: 72px;
    margin-left: -30px;
}

.arrows path{
    -webkit-animation: arrow 2s infinite;
            animation: arrow 2s infinite;
    stroke: #ffa200;
    fill: transparent;
    stroke-width: 1px;
}

@keyframes arrow{
    0%
    {
        opacity: 0;
    }
    40%
    {
        opacity: 1;
    }
    80%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 0;
    }
}

@-webkit-keyframes arrow {
    0%
    {
        opacity: 0;
    }
    40%
    {
        opacity: 1;
    }
    80%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 0;
    }
}

.arrows path.a1{
    -webkit-animation-delay: -1s; 
            animation-delay: -1s;
}

.arrows path.a2{
    -webkit-animation-delay: -.5s; 
            animation-delay: -.5s;
}

.arrows path.a3{
    -webkit-animation-delay: 0s; 
            animation-delay: 0s;
}
/*END OF ARROW SVG*/


/*hot-stories-section*/

.hot-stories-section{
    background: #ecf0f1;
    text-align: center;
    padding-bottom: 30px;
}
h2
{
    font-size: 3vw;
    font-weight: 700;
    padding: 20px;
    text-align: center;
    color: #222;
}
.user-stories{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    padding: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.user-story{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;
    height: 300px;
    margin: 15px;
    padding: 10px ;
    text-align: center;

    color: white;
    background: white;
    -webkit-flex-basis: 300px;
    -ms-flex-preferred-size: 300px;
            flex-basis: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.first-story{
    background: -webkit-linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)),
    url(../img/work-1.jpg);
    background:         linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)),
    url(../img/work-1.jpg);
    background-size: cover;
}
.first-story:hover{
    background: -webkit-linear-gradient(
    rgba(255, 162, 0, .7),
    rgba(255, 162, 0, .7)),
    url(../img/work-1.jpg);
    background:         linear-gradient(
    rgba(255, 162, 0, .7),
    rgba(255, 162, 0, .7)),
    url(../img/work-1.jpg);
    background-size: cover;
}
.second-story{
    background: -webkit-linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)),
    url(../img/work-2.jpg);
    background:         linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)),
    url(../img/work-2.jpg);
    background-size: cover;
}
.second-story:hover{
    background: -webkit-linear-gradient(
    rgba(255, 162, 0, .7),
    rgba(255, 162, 0, .7)),
    url(../img/work-2.jpg);
    background:         linear-gradient(
    rgba(255, 162, 0, .7),
    rgba(255, 162, 0, .7)),
    url(../img/work-2.jpg);
    background-size: cover;
}
.third-story{
    background: -webkit-linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)),
    url(../img/work-3.jpg);
    background:         linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)),
    url(../img/work-3.jpg);
    background-size: cover;
}
.third-story:hover{
    background: -webkit-linear-gradient(
    rgba(255, 162, 0, .7),
    rgba(255, 162, 0, .7)),
    url(../img/work-3.jpg);
    background:         linear-gradient(
    rgba(255, 162, 0, .7),
    rgba(255, 162, 0, .7)),
    url(../img/work-3.jpg);
    background-size: cover;
}
.fourth-story{
    background: -webkit-linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)),
    url(../img/work-4.jpg);
    background:         linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)),
    url(../img/work-4.jpg);
    background-size: cover;
}
.fourth-story:hover{
    background: -webkit-linear-gradient(
    rgba(255, 162, 0, .7),
    rgba(255, 162, 0, .7)),
    url(../img/work-4.jpg);
    background:         linear-gradient(
    rgba(255, 162, 0, .7),
    rgba(255, 162, 0, .7)),
    url(../img/work-4.jpg);
    background-size: cover;
}
.fifth-story{
    background: -webkit-linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)),
    url(../img/work-5.jpg);
    background:         linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)),
    url(../img/work-5.jpg);
    background-size: cover;
}
.fifth-story:hover{
    background: -webkit-linear-gradient(
    rgba(255, 162, 0, .7),
    rgba(255, 162, 0, .7)),
    url(../img/work-5.jpg);
    background:         linear-gradient(
    rgba(255, 162, 0, .7),
    rgba(255, 162, 0, .7)),
    url(../img/work-5.jpg);
    background-size: cover;
}
.sixth-story{
    background: -webkit-linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)),
    url(../img/work-6.jpg);
    background:         linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)),
    url(../img/work-6.jpg);
    background-size: cover;
}
.sixth-story:hover{
    background: -webkit-linear-gradient(
    rgba(255, 162, 0, .7),
    rgba(255, 162, 0, .7)),
    url(../img/work-6.jpg);
    background:         linear-gradient(
    rgba(255, 162, 0, .7),
    rgba(255, 162, 0, .7)),
    url(../img/work-6.jpg);
    background-size: cover;
}
.seventh-story{
    background: -webkit-linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)),
    url(../img/work-7.jpg);
    background:         linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)),
    url(../img/work-7.jpg);
    background-size: cover;
}
.seventh-story:hover{
    background: -webkit-linear-gradient(
    rgba(255, 162, 0, .7),
    rgba(255, 162, 0, .7)),
    url(../img/work-7.jpg);
    background:         linear-gradient(
    rgba(255, 162, 0, .7),
    rgba(255, 162, 0, .7)),
    url(../img/work-7.jpg);
    background-size: cover;
}
.eighth-story{
    background: -webkit-linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)),
    url(../img/work-8.jpg);
    background:         linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)),
    url(../img/work-8.jpg);
    background-size: cover;
}
.eighth-story:hover{
    background: -webkit-linear-gradient(
    rgba(255, 162, 0, .7),
    rgba(255, 162, 0, .7)),
    url(../img/work-8.jpg);
    background:         linear-gradient(
    rgba(255, 162, 0, .7),
    rgba(255, 162, 0, .7)),
    url(../img/work-8.jpg);
    background-size: cover;;
}
/*vertical orientation of blocks for big screens*/
@media (min-width: 1600px){
    .user-stories
    {
        padding: 10px 100px;
    }
    .first-story,
    .third-story    {
        -webkit-box-flex: 3;
        -webkit-flex-grow: 3;
        -ms-flex-positive: 3;
                flex-grow: 3;
    }
   
    .sixth-story,
    .eighth-story    {
        -webkit-box-flex: 3;
        -webkit-flex-grow: 3;
        -ms-flex-positive: 3;
                flex-grow: 3;
    }
    .seventh-story    {
        -webkit-box-flex: 2;
        -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
                flex-grow: 2;
    }
    .user-story h3    {
        font-size: 1.3vw;
    }
}



h3{
    font-size: 1.7vw;
    font-weight: 400;
    text-shadow: 1px 1px 1px black;
}
.story-author{
    font-size: 1.3vw;
    font-style: italic;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 20px ;
    text-align: right;
    text-shadow: 1px 1px 1px black;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
            align-self: flex-end;
}
.see-all{
    display: inline-block;
    
    font-size: 2vw;
    font-weight: 700;
    padding: 15px 75px;
    -webkit-transition: background .7s ease-out ;
            transition: background .7s ease-out ;
    text-align: center;
    color: #ffa200;
    border: 2px solid #ffa200;
    
}
.see-all:hover{
    color: white;
    background: #ffa200;
}


.stats-section{
    font-size: 4vw;
    font-weight: 200;
   display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    min-height: 350px;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
    background: #111;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
/*.total{
  text-align: center;
  font-style: italic;
  font-size: 5vw;
  color:#999;
}*/
#counter{
    font-size: 6vw;
    padding-left: 20px;
    letter-spacing: 20px;
    color: white;
}
.stories-told{
    font-size: 2vw;
    font-style: italic;
    margin-top: 15px;
    text-align: center;
    color: #999;
}

.stats-section .start-now{
    font-size: 1.5vw;
    font-weight: 700;
    padding: 15px 35px;
    -webkit-transition: background .7s ease-out ;
            transition: background .7s ease-out ;
    text-align: center;
    color: #ffa200;
    border: 2px solid #ffa200;
}
.stats-section .start-now:hover{
    color: white;
    background: #ffa200;
}
.people-say-section{
    padding: 0 100px;
    padding-bottom: 50px;

    background: #f1f1f5;
}
.people-saying{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.person{
    box-sizing: border-box;
    min-width: 200px;
    min-height: 200px;
    height: 350px;
    margin: 20px ;
    background: white;
    -webkit-flex-basis: 350px;
    -ms-flex-preferred-size: 350px;
            flex-basis: 350px;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
            flex-grow: 2;
}
.person-image{
    padding: 10px;
    border-radius: 50%;
}
.person-image img{
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
}
.person h4{
    font-size: 1.3vw;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}
.person p{
    padding: 10px 40px;
    color: #666;
}


.signing-section{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;
    padding-bottom: 50px;
    background: #fff;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.form-wrapper{
    width: 40vw;
    text-align: center;
}
.signing-section input,
.signing-section textarea{
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 1vw;
    font-weight: 400;
    box-sizing: border-box;
    width: 95%;
    margin: 0 0 30px 0;
    padding: 15px 20px ;
    vertical-align: middle;
    border: 1px solid white;
    outline: 1px solid rgb(156, 154, 155);
}
.signing-section input:focus,
.signing-section textarea:focus{
    color: black;
    border: 1px solid black;
    outline: 1px solid black;
}
.halfsizes-wrapper
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}

.half-size
{
    width: 50%;
}

.half-size input
{
    width: 90%;
}

.signing-section input[type='submit']
{
    font-size: 2vw;
    font-weight: 700;
    display: inline-block;
    width: 20vw;
    padding: 15px 40px;
    -webkit-transition: background .7s ease-out ;
            transition: background .7s ease-out ;
    text-align: center;
    color: #ffa200;
    border: 2px solid #ffa200;
    outline: none;
    background: #fff;
}

.signing-section input[type='submit']:hover
{
    color: white;
    background: #ffa200;
}


.main-footer
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    padding: 20px;
    background: #555;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.copyright
{
    width: 50%;
    text-align: center;
    color: white;
}

.icons
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    width: 50%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.icons img
{
    width: 30px;
    height: 30px;
    margin: 0 20px;
}
