*{
  box-sizing: border-box;
}
img.responsive {
  display: block;
  height: auto;
  max-width: 100%; }

a, a:hover, a:active, a:focus, a:visited {
  text-decoration: none;
  }

.clearfix::after {
  content: '';
  clear: both;
  display: block; }

input, textarea {
  box-sizing: border-box; }

textarea {
  resize: none; }

*,
*:after,
*::before {
    box-sizing: border-box;
}



body {
  min-width: 320px;
  font: 16px 'Raleway', Helvetica, Arial, sans-serif;
  
}
.top-section{
    
    height: 100vh;

}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
 background: url('../img/snapshot.jpg"') no-repeat;
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

.page-header{
  padding: 0px 30px;
  position: fixed;
  width:100vw;
  top:0;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
          justify-content:space-between;
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
   -webkit-flex-wrap:wrap;
       -ms-flex-wrap:wrap;
           flex-wrap:wrap;
  
  background-size: cover;

}
.page-header.scrolling {
    background: rgba(0,0,0,0.8);

}
.menu-left{
  padding: 5px 10px ;
}
.menu-left img{
  width:3vw;
  
}

.search-wrapper{

  margin:2px 5px 0 5px;
  position: relative;
  width:200px;
  padding:10px 20px ;
}



.search-wrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

.search-wrapper::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

.search-wrapper:hover::before {
  top: 100%;
  opacity: 1;
}

.search-wrapper:hover::after {
  height: 100%;
} 


.search-icon{
  width:1.5vw;
  position: absolute;
  top:0.8vw;
  left:0.8vw;
}
 input[type=search]{
  font: 1.3vw 'Raleway', Helvetica, Arial, sans-serif;
  background: rgba(0,0,0,0);
  color:white;
  border:none;
  outline: none;
  margin-left:30px;
}

.nav-main {
  padding-right: 5px;
}

.nav-main li {
  padding:10px 20px;
  display:inline-block;
  position: relative;
  
}

.nav-main li a {
  font-size: 1.3vw;
  margin: 0 5px;
  padding: 10px 20px;
  color:white;
  -webkit-transition: color 0.5s ease-out ;
     
     transition: color 0.5s ease-out ;
}
.nav-main .my-story{
  color:#FFA200;
}
.nav-main li a:hover{
  color:#FFA200;
}
.nav-main li a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

.nav-main li a::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

.nav-main li a:hover::before {
  top: 100%;
  opacity: 1;
}

.nav-main li a:hover::after {
  height: 100%;
} 


.slider{
  width: 100%;
  
}
.slider-wrapper{
  padding-top: 25vh;
}
.slideshow {
    text-align: center; 
    margin:    auto; 
    position: relative; 
    width: 100% ;
    height: 350px;
    padding: 10px; 
    /*box-shadow: 0 0 20px rgba(0,0,0,0.4);*/ 
}

.slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px;
    color:white; 
}
.slideshow h1{
  text-align: center;
  font-weight: bold;
  font-size: 8vw;

}
.slideshow p{
  font-weight: 200;
  text-align: center;
  font-size: 2vw;
  margin-bottom: 50px;
}
.slideshow .identity{
  color:#FFA200;
  border-bottom: 2px solid #FFA200;
  font-weight: 700;
}
.slideshow .start-now{
  text-align: center;
  font-weight: 700;
  font-size: 2vw;
  color:#FFA200;
  padding:15px 50px;
  border:2px solid #FFA200;
  /*border-radius: 50px;*/
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  -webkit-transition: background 0.7s ease-out ;
     
     transition: background 0.7s ease-out ;
}
.slideshow .start-now:hover{
  color: white;

  background: #FFA200;
}

/*ARROW SVG*/
.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #FFA200;
  fill: transparent;
  stroke-width: 1px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow
/*Safari and Chrome*/ {
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}
/*END OF ARROW SVG*/


/*hot-stories-section*/

.hot-stories-section{
  background: #ECF0F1;
  
 }
 h2{
  padding: 15px 0;
  text-align: center;
  font-weight: 200;
  font-size: 5vw;
  color:#666;
 }
.user-stories{
  display: flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
  padding: 10px 20px;

}
.user-story{
  
  flex-basis:300px;
 background: white;
  height:300px;
  margin:20px 15px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding: 10px 5px;
}
.first-story{
  background: url(../img/work-1.jpg) no-repeat;
  background-size: cover;
  
}
.second-story{
  background: url(../img/work-2.jpg) no-repeat;
  background-size: cover;
  
}
.third-story{
  background: url(../img/work-3.jpg) no-repeat;
  background-size: cover;
  
}
.fourth-story{
  background: url(../img/work-4.jpg) no-repeat;
  background-size: cover;
  
}
.fifth-story{
  background: url('../img/work-5.jpg') no-repeat;
  background-size: cover;
  
}
.sixth-story{
  background: url('../img/work-6.jpg') no-repeat;
  background-size: cover;
  
}
.seventh-story{
  background: url('../img/work-7.jpg') no-repeat;
  background-size: cover;
  
}
.eighth-story{
  background: url('../img/work-8.jpg') no-repeat;
  background-size: cover;
  
}
/*vertical orientation of blocks for big screens*/
@media (min-width: 1600px) {
  .user-stories{
    padding: 10px 100px;
  }
  .first-story,
  .third-story{
    flex-grow:3;
  }
  .sixth-story,
  .eighth-story { 
      flex-grow:3;
  }
  .seventh-story{
    flex-grow:2;
  }
}



.user-story h3{
  font-size: 2vw;
  text-shadow:2px 2px 1px black;
}
.story-author{
  padding-top: 20px;
  align-self:flex-end;
  text-align: right;
  text-shadow:2px 2px 1px black;
}


.stats-section{
  margin:auto;
  min-height: 420px;
  background: #111;
  text-align: center;
  font-weight: 200;
  font-size: 4vw;
  color:#FFA200;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
      -ms-flex-direction:column;
          flex-direction:column;
   -webkit-flex-wrap:wrap;
       -ms-flex-wrap:wrap;
           flex-wrap:wrap;
}
.total{
  text-align: center;
  font-weight: 200;
  font-size: 5vw;
  color:white;
}
#count-test{
  padding: 100px auto;
  font-size: 7vw;
  letter-spacing: 10px;
  text-align: center;
}
.stories-told{
  font-style: italic;
  font-size: 2vw;
  color:#666;
}
.stats-section .start-now{
  text-align: center;
  font-weight: 700;
  font-size: 1.5vw;
  color:#fff;
  padding:10px 50px;
  border:2px solid #fff;

}
.stats-section .start-now:hover{
  color: #FFA200;
  border:2px solid #FFA200;
  
}
.people-say-section{
  background: #F1F1F5;
  padding-bottom: 50px;
}
.people-saying{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
  
   -webkit-flex-wrap:wrap;
       -ms-flex-wrap:wrap;
           flex-wrap:wrap;
}
.person{
  flex-basis:320px;
  height:320px;
  min-width: 250px;
  margin:20px 50px;
  background: white;

}
.person-image{
  border-radius: 50%;
  padding: 10px;
}
.person-image img{
  display: block;
  margin:0 auto;
  width:150px;
  height: 150px;
  border-radius: 50%;
}
.person h4{
  font-size: 1.3vw;
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
  text-decoration: underline;
}
.person p{2  color: #666;
  padding:10px;
}